*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --timeTransition: 400ms;
}

/*---------------------------------Color Management----------------------------------*/

.cards{
    --cardMarginBottom : 2em;
    --cardsBorder : #37474F;

    --D_bgCard : #37474F;
    --D_cardTextColor : rgb(255, 255, 255); 
    --D_cardLink : #fae49a;
    --D_cardLinkVisited : rgb(188, 247, 188);

    --D_cardTitleColor: #FFD180;
}

/*-------------------------Card-TRANSITION--------------------------*/


.elem-invisible {
    display: none;
    opacity: 0;
}

.card-transition {
    display: flex;
    opacity: 1;

    transform: transition;
    transition-property: 'opacity';
    transition-duration: var(--timeTransition);
}

/*----------------------------------CARD-Management----------------------------------*/


.cards-container {
    padding: 0 0.1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards {
    width: 90%;
    margin-bottom: var(--cardMarginBottom);
    background-color: var(--D_bgCard);
    color: var(--D_cardTextColor);
}

/*----------------------------News-Title----------------------------*/

.cards h5 {
    color: var(--D_cardTitleColor);
}

/*----------------------------News-Link-----------------------------*/


.cards a:hover,
.cards a:link {
    color: var(--D_cardLink);
}

.cards a:visited {
    color: var(--D_cardLinkVisited);
}

/*-----------------------News-AUTHOR-username-----------------------*/

.by {
    font-style: italic;
}

/*-----------------------News-added-by-REFRESH----------------------*/


.new-news {
    width: 100%;
}

.new-news .cards-container {
    padding-top: 0em;
    padding-bottom: 0em;
}


@media only screen and (min-width:360px) and ( max-width:576px ) {
    .cards {
        width: 90%;
    }
}

@media only screen and ( min-width:576px ) {

    .new-news .cards-container {
        padding-top: 1.2em;
        padding-bottom: 0.8em;
    }

    .cards-container {
        padding: 1.2em;
    }

    .cards:last-of-type {
        margin-bottom: 0;
    }

    .cards {
        width: 60%;
    }

    .loading {
        width: 80px;
    }
}


@media only screen and ( min-width:576px ) and ( max-width:768px ) {

    .cards {
        width: 80%;
    }
}

@media only screen and ( min-width:768px ) and ( min-width:992px ) {

    .cards {
        width: 100%;
    }

}

@media only screen and ( min-width:992px ) {

    .cards {
        width: 700px;
    }

}