*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --timeTransition: 600ms;
}

/*---------------------------------Color Management----------------------------------*/

.cards{
    --cardMarginBottom : 2em;
    --cardsBorder : #37474F;

    --D_bgCard : #37474F;
    --D_cardTextColor : rgb(255, 255, 255); 
    --D_cardLink : #000000; /* #fae49a; */
    --D_cardLinkVisited : rgb(7, 127, 7); /* rgb(188, 247, 188); */

    --D_cardTitleColor: #FFD180;
}

.cardButton {
    --color: #000000;
    --colorHover: #414141;
}

.links-container {
    --bgColor : #ffffff;
}


/*----------------------------------CARD-Management----------------------------------*/


.cards-container {
    padding: 0 0.1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards {
    position: relative;
    z-index: 15;

    width: 90%;
    margin-bottom: var(--cardMarginBottom);

    background-color: var(--D_bgCard);

    border: none;
    box-shadow: 0px 0px 4px var(--D_bgCard);;

    color: var(--D_cardTextColor);
}

/*----------------------------News-Title----------------------------*/

.cards h5 {
    color: var(--D_cardTitleColor);
}

/*-----------------------News-comment-button------------------------*/

.cardButton {
    border: none;
    background-color: transparent;
    color: var(--color);
}

.cardButton:hover {
    /* color: var(--colorHover); */
    text-decoration: underline;
}

.comment-icon {
    margin-left: 5px;
    width: 1em;
}

/*----------------------------News-Link-----------------------------*/

.links-container {
    background-color: var(--bgColor);
    box-shadow: 0px -2px 3px var(--bgColor);

    height: 1.5em;
    width: 100%;

    border: none;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    display: flex;
    align-items: center;

    font-size: 0.9em;
    font-style: italic;
}

.links-container a,
.links-container button {
    font-style: italic;
}

.links {
    padding: 0 1em;

    width: 100%;

    display: flex;
    justify-content: space-between;
}


.cards a:hover,
.cards a:link {
    color: var(--D_cardLink);
}

.cards a:visited {
    color: var(--D_cardLinkVisited);
}

/*-----------------------News-AUTHOR-username-----------------------*/

.by {
    font-style: italic;
}

/*-----------------------News-added-by-REFRESH----------------------*/


.new-news {
    width: 100%;
}

.new-news .cards-container {
    padding-top: 0em;
    padding-bottom: 0em;
}


@media only screen and (min-width:360px) and ( max-width:576px ) {
    .cards {
        width: 90%;
    }
}

@media only screen and ( min-width:576px ) {

    .new-news .cards-container {
        padding-top: 1.2em;
        padding-bottom: 0.8em;
    }

    .cards-container {
        padding: 1.2em;
    }

    .cards:last-of-type {
        margin-bottom: 0;
    }

    .cards {
        width: 60%;
    }

    .links {
        padding: 0 2em;
    }
}


@media only screen and ( min-width:576px ) and ( max-width:768px ) {

    .cards {
        width: 80%;
    }
}

@media only screen and ( min-width:768px ) and ( min-width:992px ) {

    .cards {
        width: 100%;
    }

}

@media only screen and ( min-width:992px ) {

    .cards {
        width: 500px;
    }

}