*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.comment-container,
.comment-transition,
 moveY {
    --startTransition : -180px;
    --endTransition : -35px;
}

/*---------------------------------Color-Management----------------------------------*/

.comment-container {
    --borderColor : #37474F;
}

.comment-text-container {
    --bgColor : #ECEFF1;
}

/*---------------------------------Comment-Management--------------------------------*/


.show-comments {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


.comment-container {
    padding: 1em 1.5em;
    margin-bottom: 2em;

    border-top: none;

    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    box-shadow: 0px 5px 6px var(--borderColor);
    
    position: relative;
    top: var(--startTransition);
    z-index: 10;

    opacity: 1;

    width: 90%;
}

.user-container {
    margin-bottom: 5px;
    display: flex;
}

.user-container span{
    margin-left: 5px;
    align-self: flex-end;
}

.comment-img {
    width: 2.2em;
    display: inline-block;
}

.comment {
    padding: 1.2em 0;
}


.comment p {
    text-align: left;
    word-wrap: normal;
}

.comment-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 1em;

    /* max-height: 150px; */

    border-radius: 5px;

    background-color: var(--bgColor);

    word-wrap: normal;
    overflow-x: auto;
}

.comment-text-container a,
.comment-text-container code,
.comment-text-container pre {
    width: 100%;

    word-wrap: break-word;
    word-break: break-all;
    overflow: auto;
}

.data {
    margin-top: 1em;
    align-self: flex-end;
}

.other {
    font-size: 1em;
    text-decoration: underline;
    align-self: flex-end;

    display: none;
}

/*------------------------------TRANSITION-Management--------------------------------*/

.comment-transition {
    animation-name: moveY, opacity;
    animation-duration: 0.8s, 0.8s;
    animation-delay: 0s, 0s;
    animation-iteration-count: 1;
}

@keyframes moveY {
    from {
        top: var(--startTransition);
    }

    to {
        top: var(--endTransition);
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@media only screen and ( min-width:576px ) {
    .comment-container {
        width: 60%;
    }
}

@media only screen and ( min-width:576px ) and ( max-width:768px ) {

    .comment-container {
        width: 80%;
    }
}

@media only screen and ( min-width:768px ) and ( max-width:992px ) {

    .comment-container {
        width: 80%;
    }

}

@media only screen and ( min-width:992px ) {

    .comment-container {
        width: 500px;
    }

}

@media only screen and ( min-width:1140px ) {

    .comment-container {
        width: 700px;
    }

}