*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*---------------------------------Color-Management----------------------------------*/

.comment-container {
    --borderColor : #37474F;
}

/*---------------------------------Comment-Management--------------------------------*/


.show-comments {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


.comment-container {
    padding: 1em 1.5em;
    margin-bottom: 2em;

    border-top: none;

    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    box-shadow: 0px 5px 6px #37474F;
    
    position: relative;

    opacity: 0;

    width: 90%;
}

.user-container {
    margin-bottom: 5px;
    display: flex;
}

.user-container span{
    margin-left: 5px;
    align-self: flex-end;
}

.comment-img {
    width: 2.2em;
    display: inline-block;
}

.comment {
    border-bottom: 1px solid var(--borderColor);
    padding: 1.2em 0;
}


.comment p {
    text-align: left;
    word-wrap: normal;
}

.comment p a {
    word-wrap: break-word;
}



@media only screen and ( min-width:576px ) {
    .comment-container {
        width: 60%;
    }
}

@media only screen and ( min-width:576px ) and ( max-width:768px ) {

    .comment-container {
        width: 80%;
    }
}

@media only screen and ( min-width:768px ) and ( min-width:992px ) {

    .comment-container {
        width: 100%;
    }

}

@media only screen and ( min-width:992px ) {

    .comment-container {
        width: 700px;
    }

}